# INICIO
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /codeigniter3/
RewriteRule ^index.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /codeigniter3/index.php [L]
</IfModule>
 
# FIN